body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.logo_nuvem {
    position: absolute;
    height: 23vh;
    width: 23vh;
    margin-top: 5%;
    margin-left: 10.4%;
}

.container_img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url(https://img.freepik.com/premium-photo/view-planet-earth-space_117023-447.jpg);
    background-size: cover;
    opacity: 30%;
    -webkit-mask-image: linear-gradient(to right, transparent 11%, rgb(47, 0, 255) 50%);
}

.titulo {
    position: absolute;
    font-family: "Gill Sans", sans-serif;
    font-size: 65px;
    margin-top: 15.7%;
    margin-left: 11%;
    color: rgb(253, 253, 253);
    cursor: default;
    transition: margin-top 0.2s ease;
}

.titulo:hover {
    margin-top: 14%;
}

.caixa_login {
    position: absolute;
    width: 200vh;
    height: 70vh;
    margin-top: 10%;
    margin-left: 1.2%;
}

.usuario {
    color: rgba(255, 255, 255, 0.795);
    font-size: 11px;
    width: 147.5px;
    height: 25px;
    position: absolute;
    margin-top: 7%;
    margin-left: 42%;
    outline: none;
    border-radius: 7px;
    border-style: solid;
    border-color: white;
    border-width: 0.4px;
    background-color: rgba(0, 0, 0, 0);
}

.usuario::placeholder {
    color: rgba(255, 255, 255, 0.363);
    font-family: sans-serif;
    transition: color 0.7s ease;
    padding: 5px;
}

.usuario:hover::placeholder {
    color: rgba(255, 255, 255, 0.24);
}

.senha {
    color: rgba(255, 255, 255, 0.795);
    font-size: 11px;
    width: 147.5px;
    height: 25px;
    position: absolute;
    margin-top: 9.7%;
    margin-left: 42%;
    outline: none;
    border-radius: 7px;
    border-style: solid;
    border-color: white;
    border-width: 0.4px;
    background-color: rgba(0, 0, 0, 0);
}

.senha::placeholder {
    color: rgba(255, 255, 255, 0.363);
    font-family: sans-serif;
    transition: color 0.7s ease;
    padding: 5px;
}

.senha:hover::placeholder {
    color: rgba(255, 255, 255, 0.24);
}

.registrar {
    cursor: pointer;
    width: 153px;
    height: 25px;
    position: absolute;
    margin-top: 12.4%;
    margin-left: 42%;
    outline: none;
    border-radius: 7px;
    border-style: none;
    background-color: #639add;
    color: white;
    transition: background-color 0.5s ease-out;
}

.registrar:hover {
    background-color: #2d7ad8;
}

.log_face {
    position: absolute;
    margin-left: 42%;
    margin-top: 19%;
    max-width: 35px;
    max-height: 35px;
    cursor: pointer;
}

.log_google {
    position: absolute;
    margin-left: 46.5%;
    margin-top: 19%;
    max-width: 35.3px;
    max-height: 35.3px;
    cursor: pointer;
}

.log_vk {
    position: absolute;
    margin-left: 50.7%;
    margin-top: 18.9%;
    max-width: 36.5px;
    max-height: 36.5px;
    cursor: pointer;
}

.h4_other {
    position: absolute;
    font-family: sans-serif;
    margin-top: 16.6%;
    margin-left: 46.1%;
    color: rgba(255, 255, 255, 0.356);
    cursor: default;
}

.termos_check {
    cursor: pointer;
    margin-left: 42%;
    margin-top: 15%;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.termos_text {
    font-family: sans-serif;
    position: absolute;
    font-size: 7.7px;
    margin-left: 43%;
    margin-top: 15.1%;
    cursor: default;
    color: white;
}

b {
    color: rgb(96, 96, 248);
    cursor: pointer;
}

.copy {
    color: white;
    position: absolute;
    margin-top: 47%;
    margin-left: 86%;
    cursor: pointer;
    opacity: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
